.nav {
    grid-area: n;
    background-color: #6c839e;
  }
  
  .nav ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 35px; 
      margin-left: 20px;
  }
  
  .nav ul li a:link, a:visited , a:active {
    text-decoration: none;
    color: #fafaff;
    font-size: 15px;
  }
  