.wrapper_post {
    margin: 2% ;
    color: #090a0a ;
}

.wrapper_post textarea {
    width: 660px;
    height: 60px;
}

.wrapper_post button {
    background-color: #304b96; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
