.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 25px;
}

.messagesItems {
  padding: 25px;
}
.messagesItems textarea{
    width: 660px;
    height: 60px;
}

.messagesItems button {
    background-color: #304b96; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.dialog {
  margin: 10px;
}

.message {
  margin: 10px;
}


.dialog a:link{
  text-decoration: none;
  color: #fafaff;
}

.dialog a:visited {
  text-decoration: none;
  color: #1417cc;
}

.dialog a:active{
  text-decoration: none;
  color: #f5f115;
}
