.ava 
 {
   margin-left: 2%;
   width: 15%;
   height: 15%;
 }

.profile img{
    margin: 2%;
    width: 75%;
    height: 10%;
}
  
@media screen and (max-width: 400px) {
  .profile img {
    width: 40%;
    height: 10%;
  }
}