.ava 
 {
   margin-left: 2%;
   margin-top: 1%;
   width: 10%;
   height: 10%;
 }

// .profile img{
//     margin: 2%;
//     width: 75%;
//     height: 10%;
// }
  
@media screen and (max-width: 400px) {
  .profile img {
    width: 40%;
    height: 10%;
  }
}