.userphoto {
    width: 200px;
    height: 200px;
}

.content {
    padding: 15px 32px;
}

button {
    background-color: #304b96; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}